* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;
  color: black;
  font-family: "Inter", sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
