footer {
  border-top: 1px solid #e5e5e5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  margin-top: auto;
}

h3 {
  color: #6b7280;
  font-size: 0.9rem;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin-left: 20px;
}

a {
  color: #6b7280;
  text-decoration: none;
  transition: color 500ms;
}

a:hover,
a:active {
  color: rgb(28, 28, 255);
}
