header {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 29px;
}

.left button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.left button:hover,
.left button:active {
  background-color: rgb(232, 232, 232);
}

.left div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.left h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}

header .left p {
  margin: 0;
  font-size: 0.875rem;
  color: #6b7280;
  line-height: 1.2;
}

.right {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.profile-icon {
  border-radius: 50%;
  background-color: #ececf0;
  padding: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.profile-icon:hover {
  background-color: #bebebe;
}
